/* Default values  */
body, h1, h2, p{
    margin: 0; 
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

#sidebarContentContainer{
    background-color: white;
    color: #6D6D6D;
}

#currentProjectInfoContainer{
    background-color: #2390d8;
    color: white;
}

#toDoListSection{
    background-color: #f4f4f4;
}




/* * * * * * * mobile sidebar * * * * * * */ 
#sidebarContentContainer{
    position: absolute;
    width: 160px;
    height: 100vh;
}

#sideBarHeading{
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-align: center;
    padding-bottom: 12px;
    color: #5F5F5F;
    border-bottom: 1px solid #E5E5E5;
    
}




.sidebarProject{
    font-size: 1.2em;
    padding: 0.5em;
    background:#E5E5E5;
    margin-bottom: 0.5em;
}

#notSelected{
    background: white;
}


.sidebarProject p{
    text-align: center;
}

.sidebarProject div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.3em;

}

.sidebarProject div p:first-of-type{
    margin-right: 0.5em;
}


.addProjectBtnContainer{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #64aae6;

}

.addProjectBtnContainer button{
    font-size: 2.5em;
    background: none;
    border: none;
    color: white;
    
}

#deleteProject, #editProjectName{
    color: #9ea09e;

}

#closeSidebarContainer{
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.selectedProjectTitle{
    color: #030303;
}
/* 
Change to display absolute when it is not longer in display none 
when get out goes out cause of grid 
*/
#sidebarContentContainer{
    display: none;
}


/* * * * * * * mobile header * * * * * * */
#hamburgerIcon div{
    width: 35px;
    height: 3px;
    background-color: white;
    margin-bottom: 0.5em;
}

#hamburgerIcon{
    align-self: center;
    margin-top: 0.5em;
    margin-left: 1em;
}


/* * * * * * * mobile sidebarContentContainer * * * * * * */

#currentProjectInfoContainer{
    display: grid;
    grid-template-columns: 30px 1fr;
    height: 75px;
}

#currentProjects{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; 
    margin: 0; 
}

#currentProjects h1{
    padding: 0; 
    margin: 0; 
}

#addBtnListContiner{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: #FAFAFA;
}

#addBtnListContiner button{
    margin-right: 0.5em;
    border: none;
    font-size: 2.5em;
    background: none;
}


#toDoListSection{
    overflow: auto;
    height: calc(100vh - (50px + 75px));  
}

/* * * * * * * mobile todo list card * * * * * * */

.toDoListCard{

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    max-width: 350px;
    background-color: white;

}


.toDoListCardFooter{
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toDoListCardFooter div{
    display: flex;
}

.priorityHigh,.priorityMedium, .priorityLow{

    border-radius: 5px;
    padding: 0.3em;
    margin-right: 0.5em;
}

.priorityHigh{
    background-color: #ff8f5b;
}
.priorityHigh p{
    color: #6B3C25;
}



.priorityMedium{
    background-color: #FFD765;
}
.priorityMedium p{
    color: #7E6B33;
}


.priorityLow{
    background-color: #b4f9a9;
}
.priorityLow p{
    color: #24671A;
}


.toDoEdit{
    
    border: none;
    border-radius: 5px;
    padding: 0.4em;
    width: 50px;

}

.toDoDate{
    color: #C9C9C9;
    margin-left: 0.5em;
}

.deleteToDoContainer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5em;
}

.deleteToDoContainer p{
    color: #fb7f7f;
    font-weight: bold;
}

.toDoListCardContent{
    text-align: center;
}



/******** to do list input card  ***********/

#todoInputCardContainer{
    border-radius: 5px;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.todoInputCardTitleContainer label, #todoInputCardDescriptionContainer label, .dueDateContainer label, .priorityContainer p{
    margin-left: 1em;
}

#todoInputCardClose{
    text-align: end;
    padding-top: 0.5em;
    padding-right: 1em;
    color: #FB7F80;
    font-weight: bold;
}

#todoInputCardClose p, #todoInputCardTitle, .todoInputCardTitleContainer{
   margin: 0;
   padding: 0;
}


#todoInputCardTitle{
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}


.todoInputCardTitleContainer{
    display: flex;
    justify-content: space-between;
    padding-right: 5.5em;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.todoInputCardTitleContainer input{
    border-radius: 3px;
    border: none;
    height: 25px;
    border: 1px solid gray;
}


#todoInputCardDescriptionContainer{
    margin-top: 1em;
    display: flex; 
    flex-direction: column;
}

#descriptionTextAreaContainer{
    text-align: center;
}

#todoInputCardDescriptionContainer textarea{
    margin-top: 0.5em;
    box-sizing: border-box;
    width: 90%;
}


.priorityContainer{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
     display: flex;
     align-items: center;
}

.priorityContainer p{
    margin-right: 1em;
}

.priorityCheckboxContainer{
    display: flex;
}

.priorityCheckboxContainer div, .dueDateContainer label{
    margin-right: 0.5em;
}

.todoInputCardCreate{
    text-align: end;
    margin-top: 2em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}

.todoInputCardCreate button, #projectInputBtnContainer button{
    border: none;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 0.3em;
    color: white;
    background-color: #37c9f9;

}

#todoInputCardLow{
    color: #3fca29;
}

#todoInputCardMedium{
    color: #d8b656;
}

#todoInputCardHigh{
    color: #c73b3b;
}



.positionInputContent{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.2);
}


#todoInputCardContainer{
    background-color: white;
    max-width: 300px;
}



/******** project input card  ***********/



#projectInputContainer{
    position: relative;
    background-color: white;
    max-width: 300px;
    height: 150px;
    border-radius: 5px;
    padding: 1em;
}

#projectInputContainer h2{
    padding: 0; 
    margin: 0;
    text-align: center;
    margin-bottom: 1em;
}

#projectInputContainer input{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5em;
    margin-left: 1em;
}


#projectInputBtnContainer{
    position: absolute;
    bottom: 0;
    right:0;
    text-align: end;
    margin-right: 1em;
    margin-bottom: 0.5em;

}

#projectInputBtnContainer button{

    border: none;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 0.3em;
    color: white;
    background-color: #37c9f9;
}

@media only screen and (min-width: 400px)
{

    #todoInputCardContainer{
        max-width: 400px;
    }

    
    .toDoListCard{
        min-width: 350px;
        max-height: 120px;
    
    }
    
    #toDoListSection{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
}



@media only screen and (min-width: 770px)
{

    /* All this needs to be commented out for the navbar to close on bigger screen  */

    #sidebarContentContainer{
    display: none;
    }

/* 
    #toDoListSection{
        padding-left: 3em;
    }

    
    #hamburgerIcon{
        display: none;
    }

    
    #currentProjectInfoContainer{
        display: flex;
        justify-content: center;
    }

    #sidebarContentContainer{
        position: relative;

    }
    .addProjectBtnContainer{
        position: absolute;
        bottom: 0;
        
    }
    #container{
        display: grid; 
        grid-template-columns: 250px 1fr; 
    } */




    
    
    #toDoListSection{
       flex-direction: row;
       flex-wrap: wrap;
       align-content: flex-start;
       align-items: flex-start;
    }

    #sidebarContentContainer{
        width: 250px;
    }

    .sidebarProject p{
        text-align: left;
        margin-left: 0.5em;
    }
    
    .sidebarProject{
        display: flex;
        align-items: center;
    }
    
}