/* Default values  */
body, h1, h2, p{
    margin: 0; 
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

#sidebarContentContainer{
    background-color: #252529;
    color: white;
}

#currentProjectInfoContainer{
    background-color: #302E2E;
    color: white;
}

#toDoListSection{
    background-color: #f4f4f4;
}




/* * * * * * * mobile sidebar * * * * * * */ 
#sidebarContentContainer{
    position: absolute;
    width: 160px;
    height: 100vh;
}

#sideBarHeading{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}


.sidebarProject{
    font-size: 1.2em;
    padding: 0.5em;
    background: #202123;
    margin-bottom: 0.5em;
}

.sidebarProject p{
    text-align: center;
}

.sidebarProject div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.3em;

}

.sidebarProject div p:first-of-type{
    margin-right: 0.5em;
}


.addProjectBtnContainer{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #202023;

}

.addProjectBtnContainer button{
    font-size: 2.5em;
    background: none;
    border: none;
    color: white;
    
}

#deleteProject{
    color: #cc3e3e;
}

#editProjectName{
    color: #0eb50e;
}


#sidebarContentContainer{
    /* display: none; */
}


/* * * * * * * mobile header * * * * * * */
#hamburgerIcon div{
    width: 35px;
    height: 3px;
    background-color: #707070;
    margin-bottom: 0.5em;
}

#hamburgerIcon{
    align-self: center;
    margin-top: 0.5em;
    margin-left: 1em;
}


/* * * * * * * mobile sidebarContentContainer * * * * * * */

#currentProjectInfoContainer{
    display: grid;
    grid-template-columns: 30px 1fr;
    height: 75px;
}

#currentProjects{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; 
    margin: 0; 
}

#currentProjects h1{
    padding: 0; 
    margin: 0; 
}

#addBtnListContiner{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: #FAFAFA;
}

#addBtnListContiner button{
    margin-right: 0.5em;
    border: none;
    font-size: 2.5em;
 
    background: none;
}


#toDoListSection{
    /* 50px size of addBtnListContiner | 75px  size of currentProjectInfoContainer*/ 
    min-height: calc(100vh - (50px + 75px));  
}

/* * * * * * * mobile todo list card * * * * * * */

.toDoListCard{
    border: 1px solid #707070;


    

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    max-width: 350px;
}


.toDoListCardFooter{
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toDoListCardFooter div{
    display: flex;
}

.priorityHigh,.priorityMedium, .priorityLow{

    border-radius: 5px;
    padding: 0.3em;
    margin-right: 0.5em;
}

.priorityHigh{
    background-color: #ff8f5b;
}
.priorityHigh p{
    color: #6B3C25;
}



.priorityMedium{
    background-color: #FFD765;
}
.priorityMedium p{
    color: #7E6B33;
}


.priorityLow{
    background-color: #b4f9a9;
}
.priorityLow p{
    color: #24671A;
}


.toDoEdit{
    
    border: none;
    border-radius: 5px;
    padding: 0.4em;

}

.toDoDate{
    color: #C9C9C9;
    margin-left: 0.5em;
}

.deleteToDoContainer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5em;
}

.deleteToDoContainer p{
    color: #fb7f7f;
}

.toDoListCardContent{
    text-align: center;
}




@media only screen and (min-width: 700px)
{

}